page-change-password {

    ion-list{
        width: 100%;
    }

    ion-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 0px !important;
        border-bottom: 0px !important;
    }


    ion-label{
        align-self: flex-start;
        font-size: 18px;
        font-family: 'Lucida Grande';
        width: 100%;
        margin-bottom: 12px;
    }
    ion-input{
        width: 100%;
        height: 40px !important;
        border: 1px solid #eceded;
        border-radius: 8px;
    }

    .save-password-button{
        width: 100%;
        height: 44px;
        text-align: center;
        font-family: 'Playfair Display';
        font-size: 18px;
        background-color: #E46D7A;
        color: white;
        border-radius: 24.5px;
    }

    .item-inner{
        border-bottom: 0px !important;
    }

    .error-label{
        color: red;
        text-align: center;
    }

    .password-match{
        border: 1px solid #eceded;
    }

    .password-not-match{
        border: 1px solid #ff0000;        
    }
}
