
@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;

}



@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-italic-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-light-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-semibold-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('#{$font-path}/OpenSans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}


@font-face {
    font-family: 'Playfair Display';
    src: url('#{$font-path}/PlayfairDisplay/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/PlayfairDisplay/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}






