cities-collapsable {
    .hide-zones{
        display: none;
    }
    .show-zones{
        display: block;
    }
    .collapsable{
        display:flex;
        justify-content: space-between;
    }
    .city{
        font-weight: 600;
        font-size: 1.2em;
    }

    hr{
        height: 1px !important;
    }
}
