page-mobile-confirmation {

    ion-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ion-input{
        margin-top: 5%;
    }
    form{
        text-align: center;
    }
    .text-confirm{
        text-align: center;
        margin-top: 3%;
        margin-bottom: 2%;
        font-family: 'Lucida Grande';
        color: #363939;
        font-size: 16px;
    }
    .confirm-btn{
        width: 100%;
        height: 52px;
        color: white;
        background-color: #E46D7A;
        text-align: center;
        margin-top: 10%;
        font-family: "Lucida Grande";
        font-size: 16px;
        border-radius: 8px;
        text-transform: capitalize;

    }

    .item-inner{
        padding: 0 !important;
    }
    .incorrect-code-input{
        width: 100%;
        border-bottom: 1px solid #E74C3C !important;
    }
    .incorrect-code{
        color: #E74C3C !important;
        margin-top: 2%;
        text-align: center;
        font-family: "Lucida Grande";
        font-size: 16px;
    }
}
