{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<h1>{% trans "WUAPPA - Reset your password" %}</h1>

{% if validlink %}

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <div class="reset">
            <form method="post">{% csrf_token %}
                    <div class="form-row field-password1">
                        <div class="errors-form">
                            {{ form.new_password1.errors }}
                        </div>
                            <label for="id_new_password1">{% trans 'New password:' %}</label>
                            <input name="new_password1" type="password" placeholder="{% trans 'New Password' %}*"
                                   id="new_password1" />
                    </div>
                    <div class="form-row field-password2">
                        <div class="errors-form">
                            {{ form.new_password2.errors }}
                        </div>
                        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                        <input name="new_password2" type="password" placeholder="{% trans 'Confirm New Password' %}*"
                                   id="new_password2" />
                    </div>
                        <button class="btn" type="submit" value="{% trans 'Change my password' %}">{% trans 'Change my password' %}</button>
            </form>
        </div>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}