{% extends "account/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
    <p>{% blocktrans %}
        You're receiving this email because you requested a password reset for your user account.<br>
        If you didn't do this, please ignore this e-mail.
    {% endblocktrans %}</p>
    <p>
    {% block reset_link %}
        <a class="btn" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            {% blocktrans %}Recover password{% endblocktrans %}
        </a>
    {% endblock %}
    </p>
{% endblock %}
