*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
.tmp/
.versions/
*.pyc
*.sqlite

settings_*.py
!settings_develop.py
!settings_staging.py
!settings_production.py
!settings_test.py
uploads
db.sqlite3
certs

media/
static/