page-complete-recover-password {
    .fa-envelope-o::before{
        content: "\f003"
    }

    .logo-box{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 26px;
    }

    .title-box{
        h1{
            font-size: 38px;
            color: #767677;
             text-align: center;
             font-family: "Playfair Display";
        }
        margin-bottom: 56px;
    }
    .recover-box{

                .recover-tabs{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    border-bottom: 1px solid #DBDBDC;

                    & div{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h6{
                            color: #89898A;
                            font-size: 16px;
                            font-family: "Helvetica";
                            font-weight: 400;
                        }
                        .active-tab{
                            height: 5px;
                            width: 90%;
                            background-color: #DBDBDC;
                        }
                    }
                }
                .recover-page-content{
                    margin-top: 20px;
                    width: 100% !important;
                    & .recover-content{

                      p{
                        color: #89898A;
                        font-size: 16px;
                        font-family: "Open Sans";
                        font-weight: lighter;
                        margin-bottom: 0;
                    }
                        width: 100% !important;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        form{
                            width: 100%;
                        }
                        .error{
                            text-align: center;
                            span{
                                color: red;
                            }
                        }
                        ion-list{
                            width: inherit;
                            ion-item{
                                border-top: 0px !important;
                                background-color: transparent;
                            }
                            input-wrapper{
                                width: 100%;
                            }
                            ion-icon{
                                font-size: 1.3em;
                            }
                            ion-input::-webkit-input-placeholder{
                                font-family: "Open Sans";
                                font-weight: 300;
                                width: 100%;
                                color: rgba(137,137,138,0.4);

                            }
                        }
                        .button-send{
                            width: 100%;
                            height: 52px;
                            background-color: #89898A;
                            text-align: center;
                            font-family: "Open Sans";
                            font-size: 16px;
                            border-radius: 8px;
                            margin-bottom: 20px;
                        }
                    }
                }
        }

}
